body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    padding: 20px;
}

form {
    display: grid;
    gap: 8px;
    max-width: 400px; /* Nastavte maximálnu šírku podľa potreby */
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Toto pridá ohraničenie tieňom */
}

form h2{
    text-align: center;
}

label {
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3498db; /* Modrá farba, ktorá ladi s #e4e9f7 */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Farebný odtieň pre hover efekt */
}

p.error-message {
    color: red;
    font-size: 12px;
}

/* CSS v subore tasks.css alebo kamkoľvek inam, kde máte svoje štýly */

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-box {
    position: relative; /* Add position relative to the task box */
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 25px;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.task-box h3,
.task-box p {
    margin: 0; /* Odstup od textu k okraju */
}

.task-buttons {
    position: absolute;
    bottom: 5px; /* Position the buttons at the bottom */
    right: 5px; /* Align buttons to the right */
    display: flex;
}

.task-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Částečně průhledné pozadí */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Doplněk pro vzhled formuláře v modálním okně */
#editTaskForm {
    display: grid;
    gap: 8px;
}

body.dark form{
    color: var(--text-color);
    background-color: #000; /* Opačná barva k #f8f8f8, tedy černá */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Opačná barva k rgba(0, 0, 0, 0.1), tedy bílá s průhledností */
}

body.dark h2{
    color: var(--text-color);
}

body.dark input, body.dark select {
    color: var(--text-color);
    background-color: #333; /* Čierna farba pozadia pre tmavý režim */
}

body.dark .task-box{
    color: var(--text-color);
    background-color: #000;
}

body.dark .modal-content{
    color: var(--text-color);
    background-color: var(--body-color);
}