body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    padding: 20px;
}

form {
    display: grid;
    gap: 8px;
    max-width: 400px; 
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2{
    text-align: center;
}

label {
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3498db; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; 
}

p.error-message {
    color: red;
    font-size: 12px;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-box {
    position: relative; 
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 25px;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.task-box h3,
.task-box p {
    margin: 0;
}

.task-buttons {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    display: flex;
}

.task-buttons button {
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#editTaskForm {
    display: grid;
    gap: 8px;
}

body.dark form{
    color: var(--text-color);
    background-color: #000; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark h2{
    color: var(--text-color);
}

body.dark input, body.dark select {
    color: var(--text-color);
    background-color: #333; 
}

body.dark .task-box{
    color: var(--text-color);
    background-color: #000;
}

body.dark .modal-content{
    color: var(--text-color);
    background-color: var(--body-color);
}
